img{
    width: 10%;
    object-fit: contain;
}
.navbar{

    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px rgb(61 52 52 / 22%);
    /* position: sticky; */
    background-color: #00fff529;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding: 0px 12px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}