.signIn{
    background-image: linear-gradient(310deg, #667909aa 9%, #b00052, blue 140%);
    background-size: cover;
    height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 5px;
    margin: 3px 0;
    outline: none;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    /* border-radius: 5px; */
    /* border: none; */
}
.logInForm{
    background-color: rgba(255, 255, 255, 0.336);
    padding: 30px;
    width: 250px;
    border-radius: 5px;
}
.logInForm2{
    background-color: rgba(255, 255, 255, 0.336);
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
}
#login-btn{
    background-color: #1773ea;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}